* {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/assets/Dandelion_background.png");
  background-repeat: no-repeat;
  background-position: 715px 0px;
}

.content {
  display: flex;
  width: 1110px;
  height: 1191px;
  background-color: #ffffff;
  flex-wrap: wrap;
  justify-content: center;
}

.head {
  font-weight: 400;
  font-size: 70px;
  line-height: 78px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #515076;
  margin: 100px;
}

.card {
  background-color: #f7f7fa;
  width: 340px;
  margin-right: 30px;
  box-sizing: border-box;
  padding-left: 25px;
  padding-top: 25px;
  margin-top: 30px;
}

.card_img {
  width: 290px;
  height: 245px;
}

.specific {
  font-size: 12px;
  color: #a5a3b9;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.name {
  color: #515076;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0%;
}

.description {
  color: #515076;
  font-weight: 400;
  font-style: normal;
  line-height: 18px;
  letter-spacing: 0%;
  width: 260px;
}

.compound {
  width: 252px;
  height: 87px;
  color: #515076;
  font-weight: 400;
  font-style: normal;
  line-height: 18px;
  letter-spacing: 0%;
}

.components {
  list-style: circle;
  margin: 0;
  padding: 0px;
}

.components li {
  margin-left: 15px;
  margin-top: 5px;
}

.cost {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-right: 25px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  color: #515076;
  font-weight: 700;
  font-size: 20px;
}

.title {
  font-weight: 700;
  font-size: 20px;
}

.numbers {
  font-weight: 400;
  font-size: 20px;
}
