.catalog__container {
  background-image: url("/assets/dandelion_bg.png");
  background-repeat: no-repeat;
  background-position: 45px 0;
  padding-top: 170px;
}

.catalog__title {
  margin-top: 50px;
  margin-bottom: 110px;
}